# the Raw Data because it's huge
*/archive/*
*/Archive/*
*archive*
*Archive*
data/interim/*
data/temp/*
data/Raw/*

#any of my internal TODO files
*TODO.txt


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Lots of unnessary art and sketches
report/design.svg
report/images/art/*
report/images/movie/*
